html, body {
    height: 100%;
}

h1, h2, h3, h4 {
    text-align: center;
}

#wraper-combo-clubes {
    text-align: center;
}

#combo-clubes {
    text-align: center;
    display: inline;
}

#app {
    display: none;
}

#load-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

#load-div img {
    max-height: 60px;
}

.wraper-tabela {
    width: 100%;
    display: flex;
    justify-content: center;
}
